/* 
  Color palette
  https://colorhunt.co/palette/17153b2e236c433d8bc8acd6
  rgb(23, 21, 59)
  rgb(46, 35, 108)
  rgb(67, 61, 139)
  rgb(200, 172, 214)
*/

* {
  background-image: none;
  font-size: 28px;
}

window {
  background-color: transparent;
}

button {
  color: black;
  background-color: rgba(23, 21, 59, 0.95);
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus, button:hover {
  background-color: rgba(67, 61, 139, 0.95);
  background-size: 40%;
  border-radius: 5px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:focus#lock {
  border-radius: 50px;
  margin: 331px 0px 331px 403px;
}

button:focus#logout {
  border-radius: 50px;
  margin: 331px 0px 331px 0px;
}

button:focus#suspend {
  border-radius: 50px;
  margin: 331px 0px 331px 0px;
}

button:focus#shutdown {
  border-radius: 50px;
  margin: 331px 0px 331px 0px;
}

button:focus#hibernate {
  border-radius: 50px;
  margin: 331px 0px 331px 0px;
}

button:focus#reboot {
  border-radius: 50px;
  margin: 331px 403px 331px 0px;
}

#lock {
  background-image: image(url("icons/lock_black.png"));
  border-radius: 80px 0px 0px 80px;
  margin: 403px 0px 403px 403px;
}

#logout {
  background-image: image(url("icons/logout_black.png"));
  border-radius: 0px 0px 0px 0px;
  margin: 403px 0px 403px 0px;
}

#suspend {
  background-image: image(url("icons/suspend_black.png"));
  border-radius: 0px 0px 0px 0px;
  margin: 403px 0px 403px 0px;
}

#shutdown {
  background-image: image(url("icons/shutdown_black.png"));
  border-radius: 0px 0px 0px 0px;
  margin: 403px 0px 403px 0px;
}

#hibernate {
  background-image: image(url("icons/hibernate_black.png"));
  border-radius: 0px 0px 0px 0px;
  margin: 403px 0px 403px 0px;
}

#reboot {
  background-image: image(url("icons/reboot_black.png"));
  border-radius: 0px 80px 80px 0px;
  margin: 403px 403px 403px 0px;
}